:root {
    --ghost-white: #F4F6FF;
    --rich-black: #050404;
    --cg-blue: #027B9B;
    --cg-blue-light: #50a3bb;
    --max-blue-green: #02c3c8;
    --armananth-purple: #ad3959;
    --armananth-purple-light: #c4768e;
    --cyan-process: #02b3e4;
    --emerald: #15c26b;
    --honey-yellow: #ffae0c;
    --dark-orchid: #9b4cda;
}

body {
    width: 100%;
    font-family: 'Open Sans', serif;
    margin-top: 100px;
}

@media screen and (max-width: 1150px) {
    #brand-homelink span {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;
    }

    #brand-homelink {
        margin-left: 5%;
        width: 30%;
    }
}

section.row {
    justify-content: center;
    margin: 0;
}

a.lire-plus {
    background-color: var(--cg-blue);
    margin: 5px;
    color: white;
}

a.lire-plus:hover {
    background-color: var(--armananth-purple);
    color: white;
}

a.lire-plus-r {
    background-color: var(--armananth-purple);
    margin: 2px;
    color: white;
}

a.lire-plus-r:hover {
    background-color: var(--cg-blue);
    color: white;
}

.content-block {
    padding: 15px 0 12px;
}

.navbar {
    font-family: 'Open Sans', serif;
    padding: 3px 1%;
    height: 100px;
    font-size: 15pt;
    background-color: var(--ghost-white);
    box-shadow: 0 0 20px #cacaca;
}

.carousel-caption {
    background-color: #60ABC296;
    border-radius: 21px;
    right: 35%;
    bottom: 0.75rem;
    left: 35%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    margin: 12px auto;
    text-align: center;
}

h1 {
    color: var(--armananth-purple);
    font-size: 24pt;
}

h2 {
    color: var(--rich-black);
    font-size: 22pt;
}

h3 {
    color: var(--armananth-purple);
    font-size: 20pt;
    text-align: left;
}

h4 {
    color: var(--armananth-purple);
    font-size: 16pt;
    text-align: left;
}

h5 {
    font-size: 16pt;
}

p {
    color: var(--rich-black);
    font-size: 15pt;
    font-family: 'Quattrocento Sans', sans-serif;
}

form, input, label, textarea, button, select {
    margin: 3px 1px !important;
}

.breadcrumb {
    background-color: #e5e5e5;
    color : var(--rich-black);
}

.breadcrumb > * {
    padding: 20px 2px 5px 15px;
}

#sideNav div.card-header {
    background: var(--cg-blue-light);
}

#sideNav div.card-header:hover {
    background: var(--cg-blue);
}

#brand-homelink {
    width: 60%;
}

#brand-homelink span {
    font-size: 20px;
}

#logo {
    width: 90px;
}

.badge {
    vertical-align: top !important;
}

.badge-dot {
    border-radius: 9px;
    font-size: 9pt;
}

.center-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

nav a {
    text-decoration: none;
    color: var(--cg-blue);
}

nav a:hover {
    text-decoration: none;
    color: var(--armananth-purple);

}

#navbarNavDropdown {
    font-family: 'Open Sans', serif;
    font-size: 15pt;
    text-align: center;
    background-color: var(--ghost-white);
}

.navbar-toggler-icon {
    color: var(--armananth-purple);
}

div#user-info {
    font-size: 1.3rem;
    color: var(--rich-black);
}

#latest-articles {
    background-color: var(--ghost-white);
}

#latest-products {
    text-align: center;
}

.articles {
    text-align: center;
    padding: 0.5% 0 0;
    margin: 20px 15px;
    border-radius: 5px;
    opacity: 0.9;
}

.articles:hover {
    opacity: 1;
}

.articles:nth-child(odd) {
    background-color: var(--armananth-purple-light);
}

.articles:nth-child(even) {
    background-color: var(--cg-blue-light);
}

.products {
    margin: 15px 5px;
}

.actu {
    padding: 1% 2% 0;
    margin: 20px 15px;
    opacity: 0.9;
}

.actu:hover {
    opacity: 1;
}

article.card-footer {
    color: var(--rich-black);
}

.actu:nth-child(even) {
    background-color: var(--armananth-purple-light);
}

.actu:nth-child(odd) {
    background-color: var(--cg-blue-light);
}

.login-form {
    background-color: #def2f954;
    top: 1rem;
    left: 1rem;
    bot: 1rem;
    right: 1rem;
    margin-top: 25px !important;
    margin-bottom: 25px !important;
    border-radius: 12px;
}

.sponsor {
    margin: 20px 0;
    text-align: center;
}

.product-title {
    color: var(--cyan-process);
}

.ticket {
    margin: 10px 0px;
    opacity: 0.9;
}

.ticket:hover {
    opacity: 1;
}

#contact-social {
    text-align: center;
}

#contact-social * {
    text-decoration: none;
    font-weight: bold;
    margin: 5px;
    font-size: 4vmax;
}

div#contact-social a {
    color: var(--armananth-purple);
}

div#contact-social a:hover {
    color: var(--cg-blue-light);
}

#info-client {
    display: inline;
}

#explication {
    font-size: 16pt;
    color: var(--rich-black);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

footer p {
    color: white;
}

footer {
    background-color: var(--rich-black);
    text-align: center;
    color: var(--ghost-white);
    padding: 15px 0px;
}

footer a {
    text-decoration: none;
    color: var(--ghost-white);
}

footer a:hover {
    text-decoration: none;
    color: var(--armananth-purple);
}

#logo-footer {
    padding: 2px;
}

@media screen and (max-width: 768px) {
    #footer-center  {
        border-right: none !important;
        border-left: none !important;
    }
}

#footer-center {
    border-right: dashed var(--ghost-white);
    border-left: dashed var(--ghost-white);
}


#footer-cont {
    padding: 15px 10px;
}

#footer-social{
    margin: 15px 0;
}

.foot-sub-title {
    font-size: 23px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    margin: 10px 0px;
    color: var(--cg-blue-light);
}

footer i.fas, i.fab {
    font-size: 35px;
    margin: 3px;
}

footer ul {
    list-style-type: none;
    text-align: center;
}
